body{
	font-family: 'Poppins', sans-serif;
	background-color: #000000;
	color: #F8F0E3;
	width:100vw;
}

#mainNav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mainLogo{
	width: 250px;
	height:150px;
	margin-bottom:15px;
}

#thumbnailDiv{
	margin-bottom: 30px;
}

a {
	color: #FFF44F;
	display: block;
	text-align: center;
	padding: 10px;
	font-size: 1.2em;
	font-weight: 300;
	letter-spacing: .1rem;
	text-decoration: none;
	font-weight: 600;
	overflow: hidden;
	background: linear-gradient(to left,#FFF44F, #FFF44F 50%, #F8F0E3 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
  }
  
  a {
	transition: background-position 275ms ease;
  }
  a:hover {
	background-position: 0 100%;
  }

ul {
	list-style-type: none;
	margin: 40px 0 0 0;
	padding: 0;
}

ul li {
	margin-bottom: 40px;
}

.headerText{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2.5px;
	margin-bottom: 15px;
	color: #30D5C8;
}

.thumbnail{
	height: 240px;
	width: 240px;
	border-radius: 10px;
}

.hidden{
	display: none;
}

#employeeContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.portrait{
	height: 250px;
	width: 250px;
	border-radius: 5px;
}

.employeeText{
	font-size: 18px;
	width: fit-content;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#30D5C8;
}

#employeeListing{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.mainText{
	text-align: center;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.quoteText{
	font-style: italic;
}

.quote{
	font-size: 18px;
	width: fit-content;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#30D5C8;
}

.descText{
	color: #F8F0E3;
	font-weight: 575;
	line-height: 1.5;
}

.castText{
	font-size: 18px;
	width: fit-content;
	text-align: center;
	margin-top: 20px;
	color:#30D5C8;
	margin-bottom: 50px;
}

/* Vue Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media screen and (min-width: 768px) {
	.portrait{
		height: 300px;
		width: 300px;
		border-radius: 5px;
	}

	.employeeText{
		font-size: 22px;
	}

	.quote{
		font-size: 22px;
	}

	.castText{
		font-size: 22px;
		margin-bottom: 40px;
	}

	.thumbnail{
		height: 300px;
		width: 300px;
		border-radius: 10px;
	}

	a {
		font-size: 1.5em;
	}

	#thumbnailDiv{
		margin-bottom: 50px;
	}

	#employeeListing{
		margin-left: 5%;
		margin-right: 5%;
	}

}

@media screen and (min-width: 1024px) {
	.portrait{
		height: 325px;
		width: 325px;
		border-radius: 5px;
	}

	.employeeText{
		font-size: 22px;
	}

	.quote{
		font-size: 22px;
	}

	.castText{
		font-size: 22px;
		margin-bottom: 40px;
	}

	.thumbnail{
		height: 300px;
		width: 300px;
		border-radius: 10px;
	}

	a {
		font-size: 1.5em;
	}

	.thumbnailDiv{
		margin-bottom: 50px;
	}

	#employeeListing{
		margin-left: 5%;
		margin-right: 5%;
	}

	.headerText{
		font-size: 28px;
	}

	.mainText{
		font-size: 24px;
	}

	#employeeListing{
		margin-left: 7.5%;
		margin-right: 7.5%;
	}

}